* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(253, 224, 193);
}

.content {
    text-align: center;
    color: #C4B3C6;
}

li {
    display: inline-block;
    margin: auto 20px;
    width: 200px;
}

a {
    text-decoration: none;
    color:#C4B3C6;
}