* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(253, 224, 193);
}

h1 {
    margin-bottom: 20px;
}

.content {
    text-align: center;
    color: #505050;
}

li {
    display: inline-block;
    margin: auto 20px;
    width: 200px;
}

a {
    text-decoration: none;
    color: #505050
}